In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset)

In [5]:
dataset

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes
0,19,27.900,0,16884.92400,True,False,False,True
1,18,33.770,1,1725.55230,False,True,True,False
2,28,33.000,3,4449.46200,False,True,True,False
3,33,22.705,0,21984.47061,False,True,True,False
4,32,28.880,0,3866.85520,False,True,True,False
...,...,...,...,...,...,...,...,...
1333,50,30.970,3,10600.54830,False,True,True,False
1334,18,31.920,0,2205.98080,True,False,True,False
1335,18,36.850,0,1629.83350,True,False,True,False
1336,21,25.800,0,2007.94500,True,False,True,False
1337,61,29.070,0,29141.36030,True,False,False,True

In [6]:
dataset=dataset.astype(int)

In [7]:
dataset

      age  bmi  children  charges  sex_female  sex_male  smoker_no  smoker_yes
0      19   27         0    16884           1         0          0           1
1      18   33         1     1725           0         1          1           0
2      28   33         3     4449           0         1          1           0
3      33   22         0    21984           0         1          1           0
4      32   28         0     3866           0         1          1           0
...   ...  ...       ...      ...         ...       ...        ...         ...
1333   50   30         3    10600           0         1          1           0
1334   18   31         0     2205           1         0          1           0
1335   18   36         0     1629           1         0          1           0
1336   21   25         0     2007           1         0          1           0
1337   61   29         0    29141           1         0          0           1

[1338 rows x 8 columns]

In [8]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_female', 'sex_male',
       'smoker_no', 'smoker_yes'],
      dtype='object')

In [9]:
independent=dataset[['age', 'bmi', 'children','sex_female', 'sex_male','smoker_no', 'smoker_yes']]

In [10]:
independent

      age  bmi  children  sex_female  sex_male  smoker_no  smoker_yes
0      19   27         0           1         0          0           1
1      18   33         1           0         1          1           0
2      28   33         3           0         1          1           0
3      33   22         0           0         1          1           0
4      32   28         0           0         1          1           0
...   ...  ...       ...         ...       ...        ...         ...
1333   50   30         3           0         1          1           0
1334   18   31         0           1         0          1           0
1335   18   36         0           1         0          1           0
1336   21   25         0           1         0          1           0
1337   61   29         0           1         0          0           1

[1338 rows x 7 columns]

In [11]:
dependent=dataset[['charges']]

In [12]:
dependent

      charges
0       16884
1        1725
2        4449
3       21984
4        3866
...       ...
1333    10600
1334     2205
1335     1629
1336     2007
1337    29141

[1338 rows x 1 columns]

In [13]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor

param_grid = {'criterion':['squared_error', 'poisson', 'friedman_mse', 'absolute_error'],
              'max_features': ['auto','sqrt','log2'],
              'splitter':['best','random']}

grid=GridSearchCV(DecisionTreeRegressor(), param_grid , refit=True, verbose=3,n_jobs=-1)

grid.fit(independent,dependent)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\ANACONDA\Lib\site-packages\sklearn\tree\_classes.py:277: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0'`.
  warnings.warn(

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'poisson',
                                       'friedman_mse', 'absolute_error'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [14]:
re=grid.cv_results_

print("The R_score value for best parameter{}:".format(grid.best_params_))

The R_score value for best parameter{'criterion': 'poisson', 'max_features': 'auto', 'splitter': 'random'}:

In [15]:
table=pd.DataFrame.from_dict(re)

In [16]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.025079,0.004617,0.003605,0.003385,squared_error,auto,best,"{'criterion': 'squared_error', 'max_features':...",0.752233,0.664317,0.766728,0.698849,0.688876,0.714201,0.038913,3
1,0.013526,0.002241,0.008038,0.003194,squared_error,auto,random,"{'criterion': 'squared_error', 'max_features':...",0.715361,0.574962,0.662539,0.711431,0.744135,0.681686,0.059456,11
2,0.010634,0.007972,0.008926,0.007242,squared_error,sqrt,best,"{'criterion': 'squared_error', 'max_features':...",0.700195,0.680685,0.710611,0.725100,0.739450,0.711208,0.020218,4
3,0.012430,0.002731,0.005967,0.005664,squared_error,sqrt,random,"{'criterion': 'squared_error', 'max_features':...",0.764925,0.640679,0.645463,0.665846,0.632939,0.669971,0.048710,15
4,0.012316,0.002851,0.005695,0.004304,squared_error,log2,best,"{'criterion': 'squared_error', 'max_features':...",0.714244,0.692299,0.750615,0.684177,0.680448,0.704357,0.025930,6
5,0.013257,0.002973,0.007177,0.001402,squared_error,log2,random,"{'criterion': 'squared_error', 'max_features':...",0.613842,0.689806,0.642325,0.621925,0.709788,0.655537,0.037843,21
6,0.022903,0.003215,0.006613,0.002473,poisson,auto,best,"{'criterion': 'poisson', 'max_features': 'auto...",0.729651,0.643548,0.734296,0.699074,0.710473,0.703408,0.032541,7
7,0.013533,0.003709,0.007863,0.006305,poisson,auto,random,"{'criterion': 'poisson', 'max_features': 'auto...",0.753217,0.704509,0.692766,0.710378,0.736931,0.719560,0.022196,1
8,0.015015,0.002655,0.004960,0.004023,poisson,sqrt,best,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.735779,0.564439,0.682345,0.687097,0.738270,0.681586,0.063094,12
9,0.011401,0.001721,0.000513,0.000654,poisson,sqrt,random,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.637263,0.620969,0.715175,0.690091,0.647711,0.662242,0.034974,18
10,0.015079,0.002112,0.007612,0.004430,poisson,log2,best,"{'criterion': 'poisson', 'max_features': 'log2...",0.702759,0.656022,0.733435,0.686922,0.725839,0.700996,0.027905,9
11,0.013633,0.002232,0.004978,0.001146,poisson,log2,random,"{'criterion': 'poisson', 'max_features': 'log2...",0.675613,0.486892,0.683966,0.660069,0.655837,0.632475,0.073504,23
12,0.016956,0.001949,0.006266,0.005402,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.754689,0.647201,0.757713,0.695728,0.690175,0.709101,0.041976,5
13,0.012723,0.002115,0.006592,0.002870,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.632785,0.647854,0.719666,0.738352,0.769638,0.701659,0.052783,8
14,0.009392,0.005072,0.006408,0.005846,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.732617,0.524474,0.722341,0.622611,0.707736,0.661956,0.078974,19
15,0.011868,0.003240,0.004639,0.004892,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.638201,0.589746,0.698413,0.676493,0.657432,0.652057,0.037012,22
16,0.010455,0.007182,0.004027,0.005234,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.710906,0.568428,0.709057,0.672536,0.678979,0.667981,0.052120,16
17,0.002269,0.003568,0.007283,0.006248,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.684405,0.430125,0.641749,0.645549,0.727893,0.625944,0.102753,24
18,0.066855,0.006558,0.007263,0.009037,absolute_error,auto,best,"{'criterion': 'absolute_error', 'max_features'...",0.711229,0.650483,0.751996,0.743155,0.735175,0.718408,0.036571,2
19,0.054218,0.010918,0.001230,0.001654,absolute_error,auto,random,"{'criterion': 'absolute_error', 'max_features'...",0.721305,0.557123,0.671585,0.709131,0.712432,0.674315,0.061016,13
20,0.034837,0.005354,0.008451,0.007913,absolute_error,sqrt,best,"{'criterion': 'absolute_error', 'max_features'...",0.673002,0.638719,0.644475,0.666949,0.741697,0.672969,0.036728,14
21,0.030397,0.007684,0.004786,0.006538,absolute_error,sqrt,random,"{'criterion': 'absolute_error', 'max_features'...",0.731504,0.556742,0.638656,0.689084,0.676989,0.658595,0.058916,20
22,0.034560,0.003038,0.003125,0.006250,absolute_error,log2,best,"{'criterion': 'absolute_error', 'max_features'...",0.677139,0.564621,0.748910,0.723804,0.701132,0.683121,0.063852,10
23,0.032031,0.005323,0.002074,0.004148,absolute_error,log2,random,"{'criterion': 'absolute_error', 'max_features'...",0.745328,0.594233,0.708913,0.650177,0.613252,0.662381,0.057013,17

In [17]:
age_input=float(input("age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("children:"))
sex_female_input=int(input("sex female 0 or 1:"))
sex_male_input=int(input("sex male 0 or 1:"))
smoker_yes_input=int(input("smoker yes 0 or 1:"))
smoker_no_input=int(input("smoker no 0 or 1:"))

age: 32
BMI: 14.5
children: 1
sex female 0 or 1: 1
sex male 0 or 1: 0
smoker yes 0 or 1: 1
smoker no 0 or 1: 0

In [18]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_female_input,sex_male_input,smoker_yes_input,smoker_no_input]])


print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[4766.]

C:\ANACONDA\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(